*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
   
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: 10px;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-body{
    width: 100%;
    height: 50vh;
    background: linear-gradient(to left, rgb(96, 40, 163), rgb(151, 110, 219));
    z-index: 100px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*stylisage du chevron*/

.chevron-left{
    display: inline-block;
    position: relative;
	/* top: 50%; */
    translate: 0 -50;
}

.chevron-left > button{
    background-color: rgb(151, 110, 219);
    background-image: rgb(255, 255, 255);
    color: black;
    border: none;
    font-size: 1.5em;
    height: 50%;
    width: 25%;
    padding: 0 1em;
    font-weight: bolder;
}

.chevron-left > button:hover{
    /* color: rgb(94, 12, 121);
    background-color:rgb(180, 118, 211) ; */
    z-index: 100px;
    box-shadow: 2px 2px 2px  rgb(27, 66, 155), -2px -2px 2px  rgb(27, 66, 155);
}

.texte{
    width: 10%;
    margin-left: 50px;
}

.texte > h2{
    font-weight: bold;
    font-size: 25px;
}

.image-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.image{
    width: 25%;
    height: 100%;
}

.image > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color:  rgb(151, 110, 219);
}