*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
   
}

header{
    width: 100%;
    /* padding: 10px; */
    /* margin-bottom: 10px; */
    background-color: black;
    color: white;
}
/* on stylise la premire partie du header*/
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;  
    /* padding: 3% 0;  */
}
/* stylisage des images*/
.right{
    display: flex;
    width: 16%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.right button{
    background-color: rgb(82, 82, 220);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.pp{
    width: 16%;
    height: 5vh;
    border-radius: 50%;
}

#nav-links li {
    height: 100%;
}

.logo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img, .pp > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* border-ra`dius: 60%; */
}
/*barre de recherche*/
.search{
    height: 40%;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid rgb(222, 215, 215);
    align-items: center;
    border-radius: 5px;
    background-color: rgb(222, 215, 215);

}

.search > input[type=search]{
    height: 100%;
    width: 90%;
    border: none;
    /* margin-left: 1px; */
    border-radius: 5px 0 0 5px;
    padding: 0 1.3em;
    outline: none;
    background-color: rgb(222, 215, 215);
}

.search > input[type=search]:focus{
    box-shadow: 2px 2px 2px  rgb(180, 118, 211);
    border: 1px solid rgb(180, 118, 211);
}

.search > .search-btn{
    width: 10%;
    height: 100%;
    /* background-color: transparent; */
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
}

.search > .search-btn:focus{
    box-shadow: 2px 2px 2px  rgb(180, 118, 211);
    border: 1px solid rgb(180, 118, 211);
}
/*deuxieme partie du header*/
.buttom{
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    font-size: 1em;
    box-shadow: 0 0 2px 0px rgb(0, 0, 0);
    background-color: rgb(28, 26, 26);
    overflow-x: auto;
    padding: 0 1%;
}
/*barre du sidebar*/
.barre{
    height: 100%;
}
.barre > button {
    background-color: transparent;
    /* background-image: rgb(255, 255, 255); */
    border: none;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    padding: 0 1em;
    font-weight: bolder;
}

.barre > button:hover {
    color: rgb(355, 12, 121);
    z-index: 100px;
    border: 1px solid rgb(255, 255, 255, 0.9);
    /* height: 100%; */
}
/*differentes rubriiques*/
#nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 1em;
    width: 100%;
    height: 100%;
}

#nav-links > li{
    height: 100%;
    width: max-content;
}

#nav-links > li > a {
    font-weight: bold;
    transition: 0.3s ease;
    display: inline-block;
    position: relative;
	top: 50%;
    translate: 0 -50%;
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 100%;
}

#nav-links > li > a:hover{
    /* color: rgb(94, 12, 121); */
    /* background-color:rgb(180, 118, 211) ; */
    border: 1px solid rgb(255, 255, 255, 0.9);
    z-index: 100px;
    box-shadow: 2px 2px 2px  rgb(180, 118, 211);
}
/*ligne de la fin*/
hr{
    color: rgb(222, 215, 215);
    padding-left: 50px;
    padding-right: 50px;
}